@import 'criminal.css';
@import 'officer.css';
@import 'selector.css';
@import 'note.css';
@import 'interview.css';


body {
    background-color: #f3f3f3;
    font-family: Avenir-Book;
}

.page__header {
    display: flex;
    justify-content: space-around;
    background-color: #294625;
    color: white;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 20px;
    align-items: baseline;
    box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.64);

}

.content__header {
    display: block;
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    padding: 5px;
}

span {
    font-weight: 100;
    color: #81bc00;
}
