
.witness__card {
    
    box-shadow: 0px 0px 5px 0px #272c2f;
    flex-basis: 10%;
    max-height: 300PX;
    color: #4a4f55;
    border-radius: 4px;
    margin: 10px;
    margin-bottom: 25px;
    min-width: 250px;

}
.witnesses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 40px;
    width: 100%;
}
.witness__title {
    width: 100%;
}

.witness__header{
    font-weight: 550;
    background-color: #294625;
    color: #f3f7f8;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.witness__info {
    line-height: 1.5;
    padding: 1em;
    text-transform: capitalize;
}
.witness__icon {
    width: 20%;
    
}